.title {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    background-color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1000; 
  }
  .logo{
    width: 100px;
    height: 100%;
    max-width: 100%;
  }